// SPDX-License-Identifier: BSD-3-Clause
/*
 * Mainline CAMSS pipeline shared by every Citron carrier: IMX577 on CSI0 and
 * OV9282 on CSI1, both on cci0. IMX577 runs on the imx412 driver via the shared
 * "sony,imx577" match. Carriers that break out more CSI ports add them on top.
 *
 *   conn  sensor  CSIPHY  I2C bus            addr  MCLK  RST  STBY
 *   CSI0  IMX577  0       cci0_i2c0 (69/70)  0x1a  64    113  112
 *   CSI1  OV9282  1       cci0_i2c1 (71/72)  0x60  65    11   27
 */

/* Camera clock controller; disabled on the SOM (qcs6490-citron-som.dtsi). */
&camcc {
	status = "okay";
};

&camss {
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csiphy0_ep: endpoint {
				clock-lanes = <7>;
				data-lanes = <0 1 2 3>;
				remote-endpoint = <&imx577_0_ep>;
			};
		};

		port@1 {
			reg = <1>;

			csiphy1_ep: endpoint {
				clock-lanes = <7>;
				data-lanes = <0 1>;
				remote-endpoint = <&ov9282_ep>;
			};
		};
	};
};

&cci0 {
	status = "okay";
};

&cci0_i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

	camera@1a {
		compatible = "sony,imx577";
		reg = <0x1a>;

		reset-gpios = <&tlmm 113 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "suspend";
		pinctrl-0 = <&cam0_default>;
		pinctrl-1 = <&cam0_suspend>;

		clocks = <&camcc CAM_CC_MCLK0_CLK>;
		assigned-clocks = <&camcc CAM_CC_MCLK0_CLK>;
		assigned-clock-rates = <24000000>;

		/* Module self-regulates off one 1.8V rail. */
		dovdd-supply = <&vreg_l19b_1p8>;
		avdd-supply = <&vreg_l19b_1p8>;
		dvdd-supply = <&vreg_l19b_1p8>;

		port {
			imx577_0_ep: endpoint {
				link-frequencies = /bits/ 64 <600000000>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&csiphy0_ep>;
			};
		};
	};
};

&cci0_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	camera@60 {
		compatible = "ovti,ov9282";
		reg = <0x60>;

		/* ov9282 releases reset by driving XCLR high, unlike most drivers. */
		reset-gpios = <&tlmm 11 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default", "suspend";
		pinctrl-0 = <&cam1_default>;
		pinctrl-1 = <&cam1_suspend>;

		clocks = <&camcc CAM_CC_MCLK1_CLK>;
		assigned-clocks = <&camcc CAM_CC_MCLK1_CLK>;
		assigned-clock-rates = <24000000>;

		/* Module self-regulates off one 1.8V rail. */
		avdd-supply = <&vreg_l8c_1p62>;
		dovdd-supply = <&vreg_l8c_1p62>;
		dvdd-supply = <&vreg_l8c_1p62>;

		port {
			ov9282_ep: endpoint {
				link-frequencies = /bits/ 64 <400000000>;
				data-lanes = <1 2>;
				remote-endpoint = <&csiphy1_ep>;
			};
		};
	};
};

&tlmm {
	cam0_default: cam0-default-state {
		mclk-pins {
			pins = "gpio64";
			function = "cam_mclk";
			drive-strength = <2>;
			bias-disable;
		};

		rst-pins {
			pins = "gpio113";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	cam0_suspend: cam0-suspend-state {
		mclk-pins {
			pins = "gpio64";
			function = "cam_mclk";
			drive-strength = <2>;
			bias-pull-down;
		};

		rst-pins {
			pins = "gpio113";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	/* No standby control on the module, so park STBY/PDN de-asserted. */
	cam0_pwdn_hog: cam0-pwdn-hog {
		gpio-hog;
		gpios = <112 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CAM0_STBY_N";
	};

	cam1_default: cam1-default-state {
		mclk-pins {
			pins = "gpio65";
			function = "cam_mclk";
			drive-strength = <2>;
			bias-disable;
		};

		rst-pins {
			pins = "gpio11";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	cam1_suspend: cam1-suspend-state {
		mclk-pins {
			pins = "gpio65";
			function = "cam_mclk";
			drive-strength = <2>;
			bias-pull-down;
		};

		rst-pins {
			pins = "gpio11";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};

	/* Likewise. */
	cam1_pwdn_hog: cam1-pwdn-hog {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CAM1_STBY_N";
	};
};

/* ov9282 enables L8C without setting a voltage; else it idles at its 1.62V floor. */
&vreg_l8c_1p62 {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};
