// SPDX-License-Identifier: BSD-3-Clause

/dts-v1/;

#include "qcs6490-citron-robovision.dts"

/ {
	model = "8devices Citron DVK";

	compatible = "8devices,citron-dvk",
		"8devices,robovision",
		"8devices,citron",
		"qcom,qcm6490";

	qcom,board-id = <0x00010020 0x81>,	/* variant + subtype cell */
			<0x81010020 0x81>;	/* subtype also in bits 31-24 */
};
