# SPDX-License-Identifier: MIT
# Built in rather than a module: systemd mounts binfmt_misc from an automount
# unit and registers interpreters before sysinit.target, so a module would have
# to be loaded earlier than anything orders it.
CONFIG_BINFMT_MISC=y
