# SPDX-License-Identifier: MIT
# Ethernet (RNDIS/ECM/NCM)
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_NCM=y

# Serial (ACM + generic)
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_SERIAL=y

# FunctionFS (user-space gadget drivers)
CONFIG_USB_CONFIGFS_F_FS=y

# Mass storage
CONFIG_USB_CONFIGFS_MASS_STORAGE=y

# Loopback block devices support
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=0
