CONFIG_ARP=y
CONFIG_ARPING=y
CONFIG_BRCTL=y
CONFIG_FEATURE_BRCTL_FANCY=y
CONFIG_FEATURE_BRCTL_SHOW=y
CONFIG_NETCAT=y
CONFIG_NC_SERVER=y
CONFIG_NETSTAT=y
CONFIG_FEATURE_NETSTAT_PRG=y
# CONFIG_FEATURE_HWIB is not set
