CONFIG_FEATURE_EDITING_HISTORY=100
CONFIG_FEATURE_REVERSE_SEARCH=y
CONFIG_FEATURE_EDITING_WINCH=y
CONFIG_FEATURE_VI_DOT_CMD=y
CONFIG_LSOF=y
CONFIG_MPSTAT=y
CONFIG_TIMEOUT=y
# CONFIG_SHUF is not set
# CONFIG_PATCH is not set
CONFIG_HD=y
CONFIG_LSPCI=y
CONFIG_LSUSB=y
CONFIG_TREE=y
CONFIG_PKILL=y
CONFIG_PSTREE=y
