# SPDX-License-Identifier: MIT
# Qualcomm Venus HW video codec (sc7280): V4L2 mem2mem H.264/H.265 enc/dec.
# V4L_MEM2MEM_DRIVERS gates the menu the Venus driver lives under; the rest it select's.
CONFIG_V4L_MEM2MEM_DRIVERS=y
CONFIG_VIDEO_QCOM_VENUS=m
CONFIG_SC_VIDEOCC_7280=m
