[Unit]
Description=hostapd on VAP %i
Conflicts=wpa_supplicant@%i.service
# Every instance uses bridge=br0, so the device has to exist first.
Wants=sys-subsystem-net-devices-br0.device
After=sys-subsystem-net-devices-br0.device systemd-networkd.service

[Service]
Restart=on-failure
RestartSec=5
# XXX: without the delay VAP init races the driver and the interface stays in
# no-carrier until hostapd is restarted.
ExecStartPre=-sleep 1
ExecStart=hostapd -P /run/hostapd-%i.pid /etc/hostapd/%i.conf

[Install]
WantedBy=network.target
