[Unit]
Description=System EEPROM board data dump
DefaultDependencies=no
Before=sysinit.target systemd-udevd.service systemd-modules-load.service
After=systemd-remount-fs.service
ConditionPathIsDirectory=/sys

[Service]
Type=oneshot
ExecStart=/usr/bin/eeprom-dump

[Install]
WantedBy=sysinit.target
