# SPDX-License-Identifier: MIT
# QCS404 on-die USB controller and PHY
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_USB_DWC3_OF_SIMPLE=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_USB_OTG=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_EXTCON=y
CONFIG_EXTCON_USB_GPIO=y
CONFIG_USB_CONFIGFS_F_FS=y
# HAPS is a Synopsys FPGA prototyping platform — not real silicon
# CONFIG_USB_DWC3_HAPS is not set
