[Match]
Name=br0

# br0 is the only L3 interface; every eth*/wlan* is an L2 port of it.
[Network]
DHCP=yes

[DHCP]
UseMTU=yes
RouteMetric=10
ClientIdentifier=mac
