# SPDX-License-Identifier: MIT
# No negation of the CAMX stack is needed here: CAMX has no in-kernel driver
# symbol, so the exclusion is one-directional (see camx.cfg).
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_I2C_QCOM_CCI=m
CONFIG_VIDEO_QCOM_CAMSS=m
