# SPDX-License-Identifier: MIT
# camx-dlkm brings its own CCI/CSIPHY/ISP/ICP/sensor drivers, so the mainline ones
# that would claim the same DT nodes go off; the downstream cci even binds the same
# "qcom,cci" compatible as i2c-qcom-cci.
# CONFIG_I2C_QCOM_CCI is not set
# CONFIG_VIDEO_QCOM_CAMSS is not set
# CONFIG_VIDEO_IMX412 is not set
# CONFIG_VIDEO_OV9282 is not set
