# SPDX-License-Identifier: MIT
# DISP0 panel output: KMS + framebuffer console only, so the boot logo and kernel
# log appear with nothing running in userspace. DRM_MSM stays a module because
# kgsl-dlkm loads "msm skip_gpu=1"; these are bools compiled into it.
CONFIG_DRM_MSM_DSI=y
CONFIG_DRM_MSM_DSI_7NM_PHY=y

# FB provides the FB_CORE that fbcon and LOGO need, VT the console layer fbcon
# binds to.
CONFIG_FB=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_CLUT224=y
