# QCS6490 PCIe controller + QMP PCIe PHY.

CONFIG_PCI_ATS=y
CONFIG_PCI_DYNAMIC_OF_NODES=y
CONFIG_PCIEAER=y
CONFIG_PCIEASPM_PERFORMANCE=y
CONFIG_PCI_ECAM=y
CONFIG_PCIE_DW_HOST=y
CONFIG_PCIE_DW=y
CONFIG_PCIE_QCOM_COMMON=y
CONFIG_PCIE_QCOM=y
CONFIG_PCI_IOV=y
CONFIG_PCI_PASID=y
CONFIG_PCI_PWRCTRL_SLOT=y
CONFIG_PCI_PWRCTRL=y
