# QCS6490 (sc7280) SoC platform: clocks, pinctrl, regulators, GENI buses, SPMI, interconnect, SMMU, DMA, thermal, cpufreq, remoteproc, NVMEM, crypto-HW.

CONFIG_ARCH_QCOM=y
CONFIG_ARM_PSCI_CPUIDLE_DOMAIN=y
CONFIG_ARM_PSCI_CPUIDLE=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=y
CONFIG_ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT=y
CONFIG_ARM_SMMU_MMU_500_CPRE_ERRATA=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_ARM_SMMU_V3_PMU=m
CONFIG_ARM_SMMU_V3=y
CONFIG_ARM_SMMU=y
CONFIG_ATA_BMDMA=y
CONFIG_ATA_FORCE=y
CONFIG_ATA_SFF=y
CONFIG_ATA_VERBOSE_ERROR=y
CONFIG_ATA=y
CONFIG_CLK_X1E80100_GCC=y
CONFIG_CLK_X1E80100_TCSRCC=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=y
CONFIG_CRYPTO_DEV_CCREE=m
CONFIG_CRYPTO_DEV_QCE_AEAD=y
CONFIG_CRYPTO_DEV_QCE_ENABLE_ALL=y
CONFIG_CRYPTO_DEV_QCE=m
CONFIG_CRYPTO_DEV_QCE_SHA=y
CONFIG_CRYPTO_DEV_QCE_SKCIPHER=y
CONFIG_CRYPTO_DEV_QCOM_RNG=m
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS=y
CONFIG_DMADEVICES=y
CONFIG_EDAC_LEGACY_SYSFS=y
CONFIG_EDAC_QCOM=m
CONFIG_EDAC=y
CONFIG_GENERIC_ADC_THERMAL=m
CONFIG_GPIO_CDEV_V1=y
CONFIG_GPIO_CDEV=y
CONFIG_GPIO_DWAPB=y
CONFIG_GPIO_GENERIC=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_MAX732X=y
CONFIG_GPIO_MB86S7X=y
CONFIG_GPIO_PCA953X_IRQ=y
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PL061=y
CONFIG_GPIO_SYSCON=y
CONFIG_GPIO_XGENE=y
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_HW_RANDOM=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_HWSPINLOCK=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_QCOM_CCI=m
CONFIG_I2C_QCOM_GENI=m
CONFIG_I2C_QUP=y
CONFIG_IIO=y
CONFIG_INTERCONNECT_CLK=y
CONFIG_INTERCONNECT_QCOM_BCM_VOTER=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=m
CONFIG_INTERCONNECT_QCOM_RPMH_POSSIBLE=y
CONFIG_INTERCONNECT_QCOM_RPMH=y
CONFIG_INTERCONNECT_QCOM_SC7280=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_MAILBOX=y
CONFIG_MFD_CORE=y
CONFIG_MFD_SEC_CORE=y
CONFIG_MFD_SEC_I2C=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_MFD_SYSCON=y
CONFIG_MFD_TPS6594_I2C=m
CONFIG_MFD_TPS6594=m
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_NVMEM_QCOM_SEC_QFPROM=m
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_PHY_QCOM_QMP_COMBO=m
CONFIG_PHY_QCOM_QMP_PCIE_8996=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PINCTRL_GLYMUR=y
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_PINCTRL_SA8775P=y
CONFIG_PINCTRL_SC7280=y
CONFIG_PINCTRL_SINGLE=y
CONFIG_PINCTRL=y
CONFIG_POWER_RESET_MSM=y
CONFIG_POWER_RESET_QCOM_PON=m
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_POWER_RESET_XGENE=y
CONFIG_POWER_SEQUENCING=m
CONFIG_POWER_SEQUENCING_QCOM_WCN=m
CONFIG_QCOM_A53PLL=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_QCOM_CLK_APCC_MSM8996=y
CONFIG_QCOM_CLK_APCS_MSM8916=y
CONFIG_QCOM_CLK_RPMH=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_CPR=y
CONFIG_QCOM_CPUCP_MBOX=m
CONFIG_QCOM_EBI2=y
CONFIG_QCOM_GDSC=y
CONFIG_QCOM_GENI_SE=y
CONFIG_QCOM_GPI_DMA=m
CONFIG_QCOM_HFPLL=y
CONFIG_QCOM_HIDMA_MGMT=y
CONFIG_QCOM_HIDMA=y
CONFIG_QCOM_ICC_BWMON=m
CONFIG_QCOM_IOMMU=y
CONFIG_QCOM_IPCC=y
CONFIG_QCOM_KRYO_L2_ACCESSORS=y
CONFIG_QCOM_LLCC=m
CONFIG_QCOM_LMH=m
CONFIG_QCOM_MPM=y
CONFIG_QCOM_OCMEM=m
CONFIG_QCOM_PBS=m
CONFIG_QCOM_PDC=y
CONFIG_QCOM_QSEECOM_UEFISECAPP=y
CONFIG_QCOM_QSEECOM=y
CONFIG_QCOM_RMTFS_MEM=m
CONFIG_QCOM_RPMHPD=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_RPMPD=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_QCOM_SMEM_STATE=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SMSM=y
CONFIG_QCOM_SOCINFO=m
CONFIG_QCOM_SPMI_ADC5=m
CONFIG_QCOM_SPMI_ADC_TM5=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m
CONFIG_QCOM_SPMI_VADC=m
CONFIG_QCOM_SPM=m
CONFIG_QCOM_STATS=m
CONFIG_QCOM_TSENS=y
CONFIG_QCOM_TZMEM_MODE_SHMBRIDGE=y
CONFIG_QCOM_TZMEM=y
CONFIG_QCOM_VADC_COMMON=m
CONFIG_QCOM_WCNSS_CTRL=m
CONFIG_QCOM_WDT=m
CONFIG_REGMAP_I2C=y
CONFIG_REGMAP_IRQ=y
CONFIG_REGMAP_MMIO=y
CONFIG_REGMAP_SPMI=y
CONFIG_REGMAP=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_GPIO=y
CONFIG_REGULATOR_PCA9450=y
CONFIG_REGULATOR_PF8X00=y
CONFIG_REGULATOR_PWM=y
CONFIG_REGULATOR_QCOM_REFGEN=m
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_REGULATOR_QCOM_SMD_RPM=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_REGULATOR_QCOM_USB_VBUS=m
CONFIG_REGULATOR_RAA215300=y
CONFIG_REGULATOR=y
CONFIG_RESET_CONTROLLER=y
CONFIG_RESET_GPIO=m
CONFIG_RESET_QCOM_AOSS=y
CONFIG_RESET_QCOM_PDC=m
CONFIG_RESET_SIMPLE=y
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_NS=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=m
CONFIG_RPMSG_QCOM_GLINK=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_RPMSG=y
CONFIG_RTC_DRV_EFI=y
CONFIG_RTC_DRV_PL031=y
CONFIG_RTC_DRV_PM8XXX=m
CONFIG_SC_GCC_7280=y
CONFIG_SCSI_COMMON=y
CONFIG_SCSI_DMA=y
CONFIG_SCSI_HISI_SAS=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI_MPT3SAS=m
CONFIG_SCSI_SAS_ATA=y
CONFIG_SCSI_SAS_ATTRS=y
CONFIG_SCSI_SAS_HOST_SMP=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SCSI_UFS_BSG=y
CONFIG_SCSI_UFS_CDNS_PLATFORM=m
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SCSI_UFSHCD=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SCSI=y
CONFIG_SENSORS_AMC6821=y
CONFIG_SENSORS_EMC2305=y
CONFIG_SENSORS_GPIO_FAN=m
CONFIG_SENSORS_PWM_FAN=m
CONFIG_SENSORS_TMP102=m
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_DEV_CTRL_TTYPORT=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_QCOM_GENI_CONSOLE=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_SPI_DYNAMIC=y
CONFIG_SPI_MEM=y
CONFIG_SPI_PL022=y
CONFIG_SPI_QCOM_GENI=m
CONFIG_SPI_QCOM_QSPI=m
CONFIG_SPI_QUP=y
CONFIG_SPI_SPIDEV=m
CONFIG_SPMI_MSM_PMIC_ARB=y
CONFIG_SPMI=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_THERMAL_EMULATION=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_THERMAL_HWMON=y
CONFIG_THERMAL_OF=y
CONFIG_THERMAL=y
CONFIG_WATCHDOG_CORE=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=m
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
