# SPDX-License-Identifier: MIT
CONFIG_THERMAL=y
CONFIG_THERMAL_OF=y
CONFIG_THERMAL_HWMON=y
CONFIG_THERMAL_EMULATION=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_CPU_THERMAL=y
CONFIG_CPU_FREQ_THERMAL=y
CONFIG_QCOM_TSENS=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_GENERIC_ADC_THERMAL=m
CONFIG_QCOM_LMH=m
