// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 8devices, UAB
 */

/dts-v1/;

#include "qcs405-8devices-tobufi-dvk.dts"

/ {
	/* IOT (0x20) TobuFi-DVK (0x81) HWrev (4.0) */
	qcom,board-id = <0x81000420 0x0>;

	aliases {
		serial0 = &blsp1_uart2;
		serial1 = &blsp1_uart0;
		serial2 = &blsp1_uart1;
		serial3 = &blsp2_uart0;
	};
};

/* BLSP0, 4-pin connector */
&blsp1_uart0 {
	status = "okay";
};

