// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 8Devices UAB
 */

#include "qcs405.dtsi"
#include "pms405.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>

/ {
	model = "8devices TobuFi SOM";
	compatible = "8devices,tobufi", "qcom,qcs405";

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0";
	};

	reserved-memory {
		memory@86400000 {
				reg = <0 0x86400000 0 0x1000000>;
		};

		memory@87500000 {
				reg = <0 0x87400000 0 0x1400000>;
		};

		memory@88f00000 {
				reg = <0 0x88800000 0 0x800000>;
		};

		memory@89500000 {
				reg = <0 0x89000000 0 0x100000>;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			size = <0 0x4000000>;
			reusable;
			linux,cma-default;
		};
	};

	vph_pwr: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "+3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vreg_l6_1p8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "+VREG_L6_1P8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&pms405_spmi_regulators {
	vdd_s3-supply = <&vph_pwr>;

	pms405_s3: s3 {
		regulator-name = "+VREG_S3_1P225";
		regulator-min-microvolt = <1048000>;
		regulator-max-microvolt = <1384000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-initial-mode = <1>;
	};
};

&rpm_requests {
	regulators {
		compatible = "qcom,rpm-pms405-regulators";
		vdd_s4-supply = <&vph_pwr>;
		vdd_s5-supply = <&vph_pwr>;
		vdd_l1_l2-supply = <&vreg_s5_1p35>;
		vdd_l3_l8-supply = <&vreg_s5_1p35>;
		vdd_l4-supply = <&vreg_s5_1p35>;
		vdd_l5_l6-supply = <&vreg_s4_1p8>;
		vdd_l10_l11_l12_l13-supply = <&vph_pwr>;

		vreg_s4_1p8: s4 {
			regulator-name = "+VREG_S4_1P8";
			/* datasheet spec 1.728 - 1.920 V */
			regulator-min-microvolt = <1896000>;
			regulator-max-microvolt = <1920000>;
		};

		vreg_s5_1p35: s5 {
			regulator-name = "+VREG_S5_1P35";
			/* datasheet spec 1.160 - 1.512 V */
			regulator-min-microvolt = <1352000>;
			regulator-max-microvolt = <1352000>;
		};

		vreg_l1_1p3: l1 {
			regulator-name = "+VREG_L1_1P3";
			/* datasheet spec 1.240 - 1.328 V */
			regulator-min-microvolt = <1300000>;
			regulator-max-microvolt = <1352000>;
		};

		vreg_l2_1p275: l2 {
			regulator-name = "+VREG_L2_1P275";
			/* datasheet spec 1.048 - 1.280 V */
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1280000>;
		};

		vreg_l3_1p05: l3 {
			regulator-name = "+VREG_L3_1P05";
			/* datasheet spec 0.976 - 1.160 V */
			regulator-min-microvolt = <1050000>;
			regulator-max-microvolt = <1160000>;
		};

		vreg_l5_1p8: l5 {
			regulator-name = "+VREG_L5_1P8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vreg_l11_sdc2: l11 {
			regulator-name = "+VREG_L11_SDC2";
			/* datasheet spec 1.800 - 3.304 V */
			regulator-min-microvolt = <2952000>;
			regulator-max-microvolt = <3050000>;
		};
	};
};

&tlmm {
	pcie_default: pcie-default-state {
		perst-pins {
			pins = "gpio35";
			function = "gpio";
			bias-disable;
			drive-strength = <2>;
			output-low;
		};

		wake-pins {
			pins = "gpio21";
			function = "gpio";
			bias-disable;
			drive-strength = <2>;
			output-low;
		};
	};

	sdc1_default: sdc1-default-state {
		clk-pins {
			pins = "sdc1_clk";
			bias-disable;
			drive-strength = <16>;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			bias-pull-up;
			drive-strength = <10>;
		};

		data-pins {
			pins = "sdc1_data";
			bias-pull-up;
			drive-strength = <10>;
		};

		rclk-pins {
			pins = "sdc1_rclk";
			bias-pull-down;
		};
	};

	sdc1_sleep: sdc1-sleep-state {
		clk-pins {
			pins = "sdc1_clk";
			bias-disable;
			drive-strength = <2>;
		};

		cmd-pins {
			pins = "sdc1_cmd";
			bias-pull-up;
			drive-strength = <2>;
		};

		data-pins {
			pins = "sdc1_data";
			bias-pull-up;
			drive-strength = <2>;
		};

		rclk-pins {
			pins = "sdc1_rclk";
			bias-pull-down;
		};
	};

	sdc2_default: sdc2-default-state {
		clk-pins {
			pins = "sdc2_clk";
			bias-disable;
			drive-strength = <16>;
		};

		cmd-pins {
			pins = "sdc2_cmd";
			bias-pull-up;
			drive-strength = <10>;
		};

		data-pins {
			pins = "sdc2_data";
			bias-pull-up;
			drive-strength = <10>;
		};
	};

	sdc2_sleep: sdc2-sleep-state {
		clk-pins {
			pins = "sdc2_clk";
			bias-disable;
			drive-strength = <2>;
		};

		cmd-pins {
			pins = "sdc2_cmd";
			bias-pull-up;
			drive-strength = <2>;
		};

		data-pins {
			pins = "sdc2_data";
			bias-pull-up;
			drive-strength = <2>;
		};
	};
};

&gcc {
	protected-clocks = <GCC_BIMC_CDSP_CLK>,
			   <GCC_CDSP_CFG_AHB_CLK>,
			   <GCC_CDSP_BIMC_CLK_SRC>,
			   <GCC_CDSP_TBU_CLK>,
			   <GCC_WCSS_Q6_AHB_CLK>,
			   <GCC_WCSS_Q6_AXIM_CLK>;
};

&blsp1_dma {
	qcom,controlled-remotely;
	status = "okay";
};

&blsp1_uart2 {
	status = "okay";
};

&blsp1_uart2_default {
	rx-pins {
		bias-disable;
		drive-strength = <2>;
	};

	tx-pins {
		bias-disable;
		drive-strength = <2>;
	};
};

&blsp1_i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	eeprom@56 {
		compatible = "atmel,24c128";
		reg = <0x56>;
		pagesize = <64>;
		vcc-supply = <&vreg_l6_1p8>;
	};
};

&sdcc1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc1_default>;
	pinctrl-1 = <&sdc1_sleep>;
	bus-width = <8>;
	non-removable;
	mmc-ddr-1_8v;
	mmc-hs400-1_8v;
	supports-cqe;
	status = "okay";
};

&sdcc2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_default>;
	pinctrl-1 = <&sdc2_sleep>;
	bus-width = <4>;
	post-power-on-delay-ms = <100>;
	vqmmc-supply = <&vreg_l11_sdc2>;
};

&pcie {
	perst-gpios = <&tlmm 35 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 21 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_default>;
	status = "okay";
};

&pcie_phy {
	vdda-vp-supply = <&vreg_l3_1p05>;
	vdda-vph-supply = <&vreg_l5_1p8>;
	status = "okay";
};

&wifi {
	vdd-0.8-cx-mx-supply = <&vreg_l2_1p275>;
	vdd-1.8-xo-supply = <&vreg_l5_1p8>;
	vdd-1.3-rfa-supply = <&vreg_l1_1p3>;
	qcom,msa-fixed-perm;
	status = "okay";
};

&remoteproc_wcss {
	firmware-name = "ath10k/WCN3990/hw1.0/qdsp6sw.mbn";
	status = "okay";
};
