// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025 8devices, UAB
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "qcs405-8devices-tobufi.dtsi"

/ {
	model = "8devices TobuFi DVK";
	compatible = "8devices,tobufi-dvk", "8devices,tobufi",
		     "qcom,qcs405", "qcom,qcs404";

	aliases {
		serial0 = &blsp1_uart2;
		serial1 = &blsp1_uart1;
		serial2 = &blsp2_uart0;
	};

	usb3_extcon: usb3-extcon {
		compatible = "linux,extcon-usb-gpio";
		id-gpio = <&tlmm 116 GPIO_ACTIVE_HIGH>;
		vbus-out-gpio = <&tlmm 81 GPIO_ACTIVE_LOW>;
	};
};

&tlmm {
	ethernet_default: ethernet-default-state {
		mdc-pins {
			pins = "gpio76";
			function = "rgmii_mdc";
			bias-pull-up;
		};

		mdio-pins {
			pins = "gpio75";
			function = "rgmii_mdio";
			bias-pull-up;
		};

		phy-rst-pins {
			pins = "gpio104";
			function = "gpio";
			bias-disable;
			drive-strength = <2>;
			output-low;
		};

		rx-ck-pins {
			pins = "gpio69";
			function = "rgmii_ck";
			bias-disable;
			drive-strength = <2>;
		};

		rx-ctl-pins {
			pins = "gpio74";
			function = "rgmii_ctl";
			bias-disable;
			drive-strength = <2>;
		};

		rx-pins {
			pins = "gpio73", "gpio72", "gpio71", "gpio70";
			function = "rgmii_rx";
			bias-disable;
			drive-strength = <2>;
		};

		tx-ck-pins {
			pins = "gpio63";
			function = "rgmii_ck";
			bias-pull-up;
			drive-strength = <16>;
		};

		tx-ctl-pins {
			pins = "gpio68";
			function = "rgmii_ctl";
			bias-pull-up;
			drive-strength = <16>;
		};

		tx-pins {
			pins = "gpio67", "gpio66", "gpio65", "gpio64";
			function = "rgmii_tx";
			bias-pull-up;
			drive-strength = <16>;
		};
	};

	usb3_id_pin: usb3-id-state {
		pins = "gpio116";
		function = "gpio";
		bias-pull-up;
		drive-strength = <2>;
	};

	usb3_vbus_boost: usb3-vbus-boost {
		pins = "gpio81";
		function = "gpio";
		bias-pull-up;
		drive-strength = <8>;
	};

	usb2_vbus_boost: usb2-vbus-boost {
		pins = "gpio80";
		function = "gpio";
		bias-pull-down;
		drive-strength = <8>;
	};
};

/* BLSP1, 4-pin header */
&blsp1_uart1 {
	status = "okay";
};

&blsp2_dma {
	qcom,controlled-remotely;
	status = "okay";
};

/* BLSP5, 4-pin header */
&blsp2_uart0 {
	status = "okay";
};

&sdcc2 {
	cd-gpios = <&tlmm 36 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&sdc2_default {
	cd-pins {
		pins = "gpio36";
		function = "gpio";
		bias-disable;
		drive-strength = <2>;
	};
};

&sdc2_sleep {
	cd-pins {
		pins = "gpio36";
		function = "gpio";
		bias-disable;
		drive-strength = <2>;
	};
};

&usb2 {
	status = "okay";
	usb@78c0000 {
		dr_mode = "peripheral";
	};
};

&usb3 {
	status = "okay";
	usb@7580000 {
		dr_mode = "otg";
		extcon = <&usb3_extcon>;
	};
};

&usb2_phy_prim {
	vdd-supply = <&vreg_l4_1p2>;
	vdda1p8-supply = <&vreg_l5_1p8>;
	vdda3p3-supply = <&vreg_l12_3p3>;
	status = "okay";
};

&usb2_phy_sec {
	vdd-supply = <&vreg_l4_1p2>;
	vdda1p8-supply = <&vreg_l5_1p8>;
	vdda3p3-supply = <&vreg_l12_3p3>;
	status = "okay";
};

&usb3_phy {
	vdd-supply = <&vreg_l3_1p05>;
	vdda1p8-supply = <&vreg_l5_1p8>;
	status = "okay";
};

&ethernet {
	snps,reset-gpio = <&tlmm 104 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 10000>;
	pinctrl-names = "default";
	pinctrl-0 = <&ethernet_default>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0x0>;
			device_type = "ethernet-phy";
		};
	};
};
