[Unit]
Description=wpa_supplicant on VAP %i
Conflicts=hostapd@%i.service

[Service]
Restart=on-failure
RestartSec=5
# XXX: mirrors the hostapd delay; precautionary, no confirmed race here.
ExecStartPre=-sleep 1
ExecStart=wpa_supplicant -i %i -P /run/wpa_supplicant-%i.pid -c /etc/wpa_supplicant/%i.conf

[Install]
WantedBy=network.target
